<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDB" connectionString="Data Source=192.168.0.106,1433; Initial Catalog=project9; User ID=ooadproject ; Password=00000" providerName="System.Data.Sqlclient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
